KioskLocker/ServerWindowService/Web References/MonitorWebService/MonitorInfoWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetMonitorComputerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MacAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMonitorComputerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMonitorComputerInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckDbConnect">
        <s:complexType />
      </s:element>
      <s:element name="CheckDbConnectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckDbConnectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetMonitorComputerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetMonitorComputerInfo" />
  </wsdl:message>
  <wsdl:message name="GetMonitorComputerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetMonitorComputerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CheckDbConnectSoapIn">
    <wsdl:part name="parameters" element="tns:CheckDbConnect" />
  </wsdl:message>
  <wsdl:message name="CheckDbConnectSoapOut">
    <wsdl:part name="parameters" element="tns:CheckDbConnectResponse" />
  </wsdl:message>
  <wsdl:portType name="MonitorInfoWebServiceSoap">
    <wsdl:operation name="GetMonitorComputerInfo">
      <wsdl:input message="tns:GetMonitorComputerInfoSoapIn" />
      <wsdl:output message="tns:GetMonitorComputerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckDbConnect">
      <wsdl:input message="tns:CheckDbConnectSoapIn" />
      <wsdl:output message="tns:CheckDbConnectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MonitorInfoWebServiceSoap" type="tns:MonitorInfoWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMonitorComputerInfo">
      <soap:operation soapAction="http://tempuri.org/GetMonitorComputerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDbConnect">
      <soap:operation soapAction="http://tempuri.org/CheckDbConnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MonitorInfoWebServiceSoap12" type="tns:MonitorInfoWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMonitorComputerInfo">
      <soap12:operation soapAction="http://tempuri.org/GetMonitorComputerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDbConnect">
      <soap12:operation soapAction="http://tempuri.org/CheckDbConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitorInfoWebService">
    <wsdl:port name="MonitorInfoWebServiceSoap" binding="tns:MonitorInfoWebServiceSoap">
      <soap:address location="http://103.22.183.183/MonitorWebservice/MonitorInfoWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MonitorInfoWebServiceSoap12" binding="tns:MonitorInfoWebServiceSoap12">
      <soap12:address location="http://103.22.183.183/MonitorWebservice/MonitorInfoWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>